:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Alata", sans-serif;
  min-height: 100vh;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
}
h1 {
  font-size: clamp(2rem, calc(1.5rem + 3vw), 4rem);
}
h2 {
  font-size: clamp(1.8rem, calc(1.5rem + 1.5vw), 2.7rem);
}
h3 {
  font-size: clamp(1.2rem, calc(0.8rem + 2vw), 2rem);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.page > * + * {
  margin-top: 6em;
}
p {
  font-size: clamp(0.9rem, calc(0.7rem + 1vw), 1.06rem);
}
ul {
  list-style-type: none;
}
#root,
#__next {
  isolation: isolate;
}
@media (min-width: 768px) {
  .page > * + * {
    margin-top: 8em;
  }
}
@media (min-width: 1200px) {
  .page > * + * {
    margin-top: 10em;
  }
}
.page-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em;
  transition: all 0.3s;
}
@media (min-width: 1200px) {
  .page-width {
    padding: 0 10em;
  }
}
.header,
.main,
.footer {
  width: 100%;
}
.header {
  background-image: url(../loopstudios-landing-page/images/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3em;
}
@media (min-width: 768px) {
  .header {
    /* Make the background a little bit darker */
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.52),
        rgba(0, 0, 0, 0.5)
      ),
      url(../loopstudios-landing-page/images/image-hero.jpg);
  }
}
.nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-container .logo {
  position: relative;
  z-index: 2;
}
.top-nav {
  background-color: var(--color-black);
  height: 100vh;
  left: 0;
  position: fixed;
  padding: 16em 1.5em 0 1.5em;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  width: 100vw;
  z-index: 1;
}
.show-nav {
  transform: translate(0);
}
@media (min-width: 768px) {
  .top-nav {
    background-color: transparent;
    height: auto;
    position: static;
    padding: 0;
    transform: translate(0);
    width: auto;
  }
}
.top-nav__links-list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
@media (min-width: 768px) {
  .top-nav__links-list {
    flex-direction: row;
  }
}
.top-nav__link {
  border-bottom: 1px solid transparent;
  color: var(--color-white);
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .top-nav__link {
    font-family: "Alata", sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
  }
}
.top-nav__link:hover {
  border-bottom: 1px solid #eee;
}
@media (min-width: 768px) {
  .top-nav {
    display: block;
  }
  .top-nav__link {
    font-size: 1rem;
    padding: 0.5em 0;
  }
}
.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-white);
  padding: 0;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
.open-icon,
.close-icon {
  display: none;
}
.open-icon.active,
.close-icon.active {
  display: block;
}
.hero {
  padding: 12em 0;
}
@media (min-width: 768px) {
  .hero {
    padding: 10em 0;
  }
}
.hero > h1 {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  max-width: 14ch;
  padding: 0.75em;
  text-transform: uppercase;
}
.intro__image {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .intro__image {
    width: auto;
  }
}
.intro__text {
  padding: 4em 1em 0 1em;
  text-align: center;
}
@media (min-width: 768px) {
  .intro {
    position: relative;
  }
  .intro__text {
    bottom: 0;
    background-color: var(--color-white);
    max-width: 50%;
    padding: 3em 0 0 3em;
    position: absolute;
    right: 0;
    text-align: left;
  }
}
@media (min-width: 900px) {
  .intro__text {
    padding: 4em 0 0 4em;
  }
}
.creations {
  padding-top: 4em;
  text-align: center;
}
.intro__text p {
  color: var(--color-dark-gray);
  margin-top: 1.5em;
}
@media (min-width: 768px) {
  .creations {
    margin-top: 3em;
    position: relative;
  }
}
.creations > * + * {
  margin-top: 3em;
}
@media (min-width: 768px) {
  .creations h2 {
    text-align: left;
  }
}
.creations__list {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
  padding: 0;
  width: 100%;
}
.creation {
  width: 100%;
}
@media (min-width: 600px) {
  .creation {
    width: calc((100% - 1.5em) / 2);
  }
}
@media (min-width: 1200px) {
  .creation {
    width: calc((100% - 1.5em * 3) / 4);
  }
}
.btn {
  border: 2px solid var(--color-black);
  color: var(--color-black);
  display: inline-block;
  letter-spacing: 4px;
  padding: 0.5em 2em;
  transition: all 0.3s;
  text-transform: uppercase;
}
.creation__image {
  position: relative;
}
.creation__image img {
  object-fit: cover;
  width: 100%;
}
.creation__title {
  bottom: 1em;
  color: var(--color-white);
  left: 1em;
  max-width: 9ch;
  position: absolute;
  transform: translateY(5px);
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 768px) {
  .creations .btn {
    position: absolute;
    right: 0;
    top: 0.5em;
  }
}
.btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 3em 0;
  text-align: center;
}
.footer > .wrapper > * + * {
  margin-top: 2em;
}
.footer-inside-flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-top,
.flex-bottom {
  width: 100%;
}
.flex-bottom {
  margin-top: 2em;
}
@media (min-width: 768px) {
  .footer-inside-flex {
    justify-content: space-between;
  }
  .flex-top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: auto;

  }
  .flex-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
  }
}
.footer .logo {
  display: flex;
  justify-content: center;
}
.footer-nav__links-list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1.5em;
}
@media (min-width: 768px) {
  .footer-nav__links-list {
    flex-direction: row;
    justify-content: center;
  }
}
.footer-nav__link {
  color: var(--color-white);
  border-bottom: 1px solid transparent;
  padding: 0.5em 0;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .footer-nav__link {
    font-size: 1rem;
  }
}
.copyright {
  margin-right: auto;
  margin-left: auto;
}
.copyright > small {
  color: var(--color-dark-gray);
  font-size: 1rem;
}
.footer-nav__link:hover {
  border-bottom-color: var(--color-white);
}
.socials {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}
.socials a {
  border-bottom: 1px solid transparent;
  color: var(--color-white);
  font-size: 1.5rem;
  padding: 0.25em 0;
  transition: all 0.3s;
}
.socials a:hover {
  border-bottom-color: var(--color-white);
}
@media (min-width: 768px) {
  .copyright {
    margin: 0;
  }
}
