a:link{
    font-size: 35px;
    text-decoration: none;
    color: goldenrod;
}

a:visited
{
    color: rgb(37, 15, 68);
}

a:hover{
    color: blue;
}

a:active
{
    color: red;
}

.dropdown-content a{
    display: none;
}
