:root{
    --main-font:"Red Hat Display", sans-serif;
    --background-color: hsl(225,100%,94%);
    --container-box-shadow: -2x 10px 24px -11px rgba(0,0,0,0.62);
    --btn-box-shadow:5px 10px 20px hsl(245,75%,90%);
    --dark-blue:hsl(223,47%,23%);
    --desaturated-blue:hsl(224,23%,55%);
    --very-pale-blue:hsl(225,100%,98%);
    --bright-blue:hsl(245,75%,52%);
    --light-grey:rgb(136,133,133);
    --white:rgb(255,255,255);
    --red:red;
}

.order-center-container{
    position: relative;
    width: 150;
    max-width: 17.3rem;
    height: 100%;
    max-height: 46rem;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-content: center;
    background-color: rgb(252, 245, 245);
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow:var(--container-box-shadow);
    -moz-box-shadow:var(--container-box-shadow);
    box-shadow: var(--container-box-shadow);
}


.order-title-container{
    width: 80%;
    height: 100%;
    max-height: 14rem;
    font-family: var(--main-font);
    color: var(--dark-blue);
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
}

img {
	width: 260px;
	border-radius: 20px;
    min-height: 14rem;
    background-position: center center;
    background-size: cover;
   
}


#text-description {
    font-weight: 700;
}

#text-scanQR {
    font-weight: 400;
}

.order-title-container{
    width: 80%;
    height: 100%;
    max-height: 14rem;
    font-family: var(--main-font);
    color: var(--dark-blue);
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    font-weight: 700;

}

.order-header-image{
    width: 100;
    height: 100;
    min-height: 15rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: center;
    border-radius: 20px;
    overflow: hidden;
}



body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

