section p
{
    color: red;
}

section > p
{
    color: orange;
}

h1 + p
{
    background-color: rgb(9, 13, 245);
}

h1 ~ p
{
    background-color: rgb(73, 7, 82);
}
/* 
h1 > p
{
    background-color: antiquewhite;
}  */

h2{
    background-color:green;
    color: white;
}

h3{
    background-color: blue;
    color: white;
}

h1,h3{
    color: white;
}

ul li{
    color: red;
}

ul>li{
    color: blue;
}

li{
    color: green;
}

.item{
    color: pink;
}

#list-item{
    color: aqua;
}

input[type=email]{
    background-color: yellowgreen;
}

