:root {
      --text-desaturated-dark-blue: hsl(214, 17%, 51%);
      --text-grayish-blue: hsl(212, 23%, 69%);
      --text-light-grayish-blue: hsl(210, 46%, 95%);
      --text-very-dark-grayish-blue: hsl(217, 19%, 35%);
      --text-white: hsl(0, 0%, 100%);
  }
* {
      box-sizing: border-box;
      font-size: 0.8125rem;
      margin: 0;
      padding: 0;
  }
html {
      font-family: "Manrope", sans-serif;
      font-size: 100%;
  }
body {
      align-items: center;
      background-color: var(--text-light-grayish-blue);
      display: flex;
      justify-content: center;
      margin: 0 auto;
      min-height: 100vh;
  }
.parent-container {
      background-color: var(--text-white);
      border-radius: 0.4375rem;
      box-shadow: 1px 1px 12px 1px var(--text-desaturated-dark-blue);
      display: flex;
      height: 17.5rem;
      width: 45.625rem;
  }
.img-container img {
      border-bottom-left-radius: 0.4375rem;
      border-top-left-radius: 0.4375rem;
      height: 100%;
      width: 17.5rem;
  }
.text-container {
      padding-left: 2.5rem;
      padding-top: 2.5rem;
      width: 28.125rem;
  }
.text-container h1 {
      font-size: 1.0625rem;
      font-weight: 700;
      letter-spacing: 0.0437rem;
      margin-top: 0;
      padding-bottom: 0.625rem;
      word-spacing: 10px;
  }
.text-container p {
      color: var(--text-desaturated-dark-blue);
      font-size: 0.625rem;
      letter-spacing: 0.075rem;
      line-height: 1.0313rem;
      margin-bottom: 1.875rem;
      width: 95%;
      word-spacing: 0.3125rem;
  }
.sub-text {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 2.8125rem;
  }
#headshot {
      border-radius: 50%;
      height: 2.1875rem;
      width: 2.1875rem;
  }
#name {
      color: black;
      font-weight: 700;
      margin-bottom: 0.0625rem;
      padding-right: 10.5rem;
      padding-top: 1.875rem;
      width: 100%;
  }
.sub-text p {
      margin-top: 0.0625rem;
      padding-left: 1.0625rem;
  }
a {
      align-items: center;
      background-color: var(--text-light-grayish-blue);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      display: flex;
      height: 2rem;
      justify-content: center;
      margin-right: 1.875rem;
      width: 2rem;
      z-index: 0;
  }
a:hover {
      background-color: var(--text-light-grayish-blue);
  }
#img {
      left: 23px;
      position: relative;
      z-index: 1;
  }
#img:hover {
      cursor: pointer;
  }
.hidden {
      display: none;
  }
.pop-up {
      align-items: center;
      background-color: var(--text-very-dark-grayish-blue);
      border-radius: 9px;
      margin-bottom: 150px;
  }
.popup-style {
      align-items: center;
      display: flex;
      height: 3.125rem;
      margin-right: 0.125rem;
      position: relative;
      width: 14.625rem;
  }
.popup-style::after {
      border-top-color: var(--text-very-dark-grayish-blue);
      border-width: 15px;
      border: solid transparent;
      content: " ";
      margin-left: 6.375rem;
      position: absolute;
      top: 3.0625rem;
  }
.popup-style p {
      font-size: 0.75rem;
      letter-spacing: 0.4375rem;
      margin: auto;
      padding-left: 1.3125rem;
      word-spacing: 0.4313rem;
  }
.icon {
      height: 1.25rem;
      margin-right: 0.875rem;
      width: 1.25rem;
  }
