@import url("https://fonts.google.com/specimen/Manrope");
:root {
    --DarkBlue: hsl(218, 23%, 16%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --GrayishBlue: hsl(217, 19%, 38%);
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);
    --mb: 1rem;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    align-items: center;
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
section {
    align-items: center;
    background-color: var(--DarkGrayishBlue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    justify-content: center;
    margin-bottom: calc(10vh + 2rem);
    padding: 1rem 1rem 0 1rem;
    width: 38%;
  }
section p {
    color: var(--NeonGreen);
    margin: var(--mb);
  }
section h1 {
    color: var(--LightCyan);
    font-size: 28px;
    margin: var(--mb);
    text-align: center;
  }
button {
    background-color: var(--NeonGreen);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 1rem;
    position: relative;
    top: 25px;
    z-index: 55;
  }
button:hover {
    box-shadow: 2px 2px 25px 10px var(--NeonGreen);
  }
button:active {
    transform: scale(1.2);
  }
#mobile {
    display: none;
  }
.divider {
    margin: var(--mb);
  }
.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
  }
@media screen and (max-width: 900px) {
  section {
      width: 60%;
    }
  }
@media screen and (max-width: 700px) {
  section {
      width: 90%;
    }
  #mobile {
      display: flex;
    }
  #desktop {
      display: none;
    }
  }
