@import url("https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@800&display=swap");

:root {
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --grayish-blue: hsl(217, 19%, 38%);
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
article button {
  cursor: pointer;
  background-color: var(--neon-green);
  bottom: -2rem;
  border: none;
  border-radius: 50%;
  height: 4rem;
  left: 50%;
  padding: 1.25rem;
  position: absolute;
  transform: translateX(-50%);
  transition: background-color 0.3s ease-in-out;
  width: 4rem;
}
article button:hover {
  box-shadow: 1px 1px 4px 1px hsl(150, 59%, 54%);
  transition: 0.2s ease-in-out;
}
article img {
  border-radius: 0.2rem;
}
button {
  user-select: none;
}
body {
  align-items: center;
  background-color: var(--dark-grayish-blue);
  display: flex;
  font-family: "Manrope", sans-serif;
  flex-direction: column;
  height: calc(100vh - 0.1px);
  justify-content: center;
  padding: 1.25rem;
  text-align: center;
}
.container {
  color: #ffffff;
  background-color: var(--grayish-blue);
  border-radius: 1.25rem;
  position: relative;
  padding: 1.25rem 1.25rem 3rem;
}
.divider-line {
  color: var(--light-cyan);
  position: relative;
}
img {
  max-width: 100%;
}
#title {
  color: var(--neon-green);
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
  margin-bottom: 1.25rem;
  margin-top: 2rem;
  text-transform: uppercase;
}
#text {
  color: var(--light-cyan);
  font-size: 28px;
  line-height: 1.5;
  padding-bottom: 2rem;
}
@media (min-width: 500px) {
  .container {
    max-width: 480px;
  }
}
