@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Green: hsl(154, 59%, 51%);
    --Red: hsl(0, 100%, 74%);
  }
* {
    box-sizing: border-box;
  }
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
.container {
    align-items: center;
    background-color: var(--Red);
    background-image: url("../images/bg-intro-desktop.png");
    display: flex;
    height: 100vh;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 120px;
    padding-right: 120px;
  }
.text {
    flex-basis: 45%;
  }
.text h2 {
    color: white;
    font-size: 35px;
  }
.text p {
    color: white;
    font-size: 12px;
  }
.formarea {
    flex-basis: 45%;
    height: 70%;
  }
.formarea .btn {
    background-color: var(--Blue);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 25px;
    padding: 15px 10px;
    width: 100%;
  }
.formarea .btn span {
    font-weight: 600;
  }
.formarea form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px #0000001f;
    padding: 30px;
    width: 100%;
  }
.formarea form input {
    border-radius: 8px;
    border: 1px solid var(--Grayish-Blue);
    outline: none;
    padding: 15px 25px;
    width: 100%;
  }
.formarea form input.wrong {
    border: 2px solid var(--Red);
    margin-bottom: 6px;
    position: relative;
  }
.formarea form .inpt {
    height: 55px;
    height: fit-content;
    margin-bottom: 20px;
    position: relative;
  }
.formarea form .inpt img {
    height: 20px;
    opacity: 0;
    position: absolute;
    right: 17px;
    top: 44%;
    transform: translateY(-50%);
  }
.formarea form .inpt > span {
    color: var(--Red);
    float: right;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 1px;
  }
.formarea form input::placeholder {
    color: var(--Dark-Blue);
    font-family: inherit;
    font-weight: 700;
  }
.formarea form input:focus::placeholder {
    color: transparent;
  }
.formarea form input[type="submit"] {
    background-color: var(--Green);
    border: none;
    box-shadow: 0px 5px 0px 0px hsl(154deg 91% 36%);
    color: white;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
  }
.formarea form p {
    color: var(--Grayish-Blue);
    font-size: 11px;
    margin-bottom: 0;
  }
.formarea form p span {
    color: var(--Red);
    font-weight: 700;
  }
@media (max-width: 767px) {
  .container {
      flex-direction: column;
      height: 100%;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
  .text h2 {
      font-size: 30px;
    }
  .text p {
      margin-bottom: 55px;
    }
  }
