:root {
    /* Fonts */
    --ff-primary: 'Bai Jamjuree', sans-serif;
    --fw-regular: 400;
    --fw-semi-bold: 600;

    /* Primary Colors */
    --clr-strong-cyan: hsl(171, 66%, 44%);
    --clr-light-blue: hsl(233, 100%, 69%);

    /* Neutral */
    --clr-dark-grayish-blue: hsl(210, 10%, 33%);
    --clr-grayish-blue: hsl(201, 11%, 66%);
}

.attribution {
    font-size: 14px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
    padding: 20px;
    background-color: var(--clr-strong-cyan);
}


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
}


button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
}


button {
    border: none;
    font-family: var(--ff-primary);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: var(--fw-semi-bold);
    color: white;
    padding: 15px 33px;
    border-radius: 35px;
    margin: 8px;
}

.customers {
    max-width: 1110px;
    display:flex;
    justify-content: space-between;
    margin-top: 170px;
    margin-bottom: 80px;
}

.customers .customer {
    padding-right: 10px;
    padding-left: 10px;
}

.customers .customer img {
    width: 100%;
    height: auto;
}



.devices {
    margin-top: 152px;
}

.devices .subtitle {
    text-align: center;
    max-width: 675px;
    margin-bottom: 98px;
}

.devices .subtitle p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.7
}

.devices img {
    display: flex;
    max-width: 100%;
    height: auto;
}


footer {
    max-width: 1440px;
    border: 1px soolid black;
    background-color: #F5F6F8;
    margin-top: 145px;
}

footer .top {
    display: flex;
    max-width: 1110px;
    padding-top: 42px;
    padding-bottom: 20px;
}

footer .top .top-left {
    margin-left: 0;
    display: flex;
}

footer .top .top-right {
    margin-right: 0;
}

footer .top .logo img {
    width: 55px;
    height: auto
}

footer .top .site-map {
    display: flex;
    justify-content: flex-start;
    margin-left: 135px;
}

footer .top .site-map a {
    text-decoration: none;
    color: var(--clr-dark-grayish-blue);
    font-size: 18px;
    padding-bottom: 20px;
}

footer .top .site-map a:hover, 
footer .top .site-map a:focus {
    cursor: pointer;
    color: var(--clr-strong-cyan);
}

footer .top .site-map .left, 
footer .top .site-map .middle {
    display: flex;
    flex-direction: column;
}

footer .top .site-map .left {
    margin-right: 98px;
}

footer .top .site-map .middle {
    margin-right: 73px;
}

footer .top .site-map .left a, 
footer .top .site-map .middle a{
    margin-left: 0;
}

footer .top .socials {
    display: flex;
    margin-right: 0;
    margin-left: 24px;
}

footer .top .socials svg:hover path {
    cursor: pointer;
    fill: var(--clr-strong-cyan);
}

footer .top .socials .social {
    margin-left: 24px;
}




h1 {
    font-size: 44px;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
}

h2 {
    font-size: 36px;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
}

h3 {
    font-size: 24px;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
}


header {
    background-image: url(../clipart-landing-page/images/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
}

header .container {
    max-width: 690px;
}

header .logo {
    margin-bottom: 55px;
}

header p {
    line-height: 1.7;
    margin-top: 18px;
    margin-bottom: 40px;
}


.ios {
    background-color: var(--clr-strong-cyan);
    box-shadow: 0 5px 2px -2px #4D9D8A;
}


.intro {
    margin-top: 14px;;
}

.intro .subtitle {
    max-width: 695px;
    text-align: center;
}

.intro .subtitle p{
    margin-top: 20px;
    margin-bottom: 80px;
    line-height: 1.7;
}

.intro .features {
    display: flex;
}

.intro .left{
    width: 50%;
    background-image: url(../clipart-landing-page/images/image-computer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.intro .right {
    width: 50%;
    padding-top: 68px;
    padding-bottom: 40px;
}

.intro .right p {
    font-size: 16px;
    margin-top: 8px;
    line-height: 1.9
}

.intro .right .feature {
    max-width: 340px;
    margin-bottom: 56px;
    margin-left: 110px;
}


.links {
    max-width: 682px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 75px;
}

.links p {
    line-height: 1.7;
    margin-top: 22px;
    margin-bottom: 38px;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}


.mac {
    background-color: var(--clr-light-blue);
    box-shadow: 0 5px 2px -2px #5B63B8;
}

p {
    font-size: 18px;
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-regular);
}


.workflow {
    margin-top: 70px;
    margin-bottom: 88px
}

.workflow .subtitle {
    text-align: center;
}

.workflow .subtitle h2 {
    margin-bottom: 24px
}

.workflow .extra-features {
    display: flex;
    max-width: 1110px;
    margin-top: 58px;
    justify-content: space-between;
}

.workflow .extra-features .feature {
    text-align: center;
    padding: 20px;
}

.workflow .extra-features .feature h3 {
    margin-top: 40px;
    margin-bottom: 18px;
}

.workflow .extra-features .feature p {
    font-size: 15px;
    line-height: 2;
}

