* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
.faq-box {
  background-color: #fff;
  border-radius: 10px;
  height: 460px;
  padding: 10px 20px;
  width: 300px;
}
.attribution {
  bottom: 0;
  font-size: 11px;
  position: absolute;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.img-area {
  padding-top: 100px;
  position: relative;
}
.img-area-desktop {
  display: none;
  position: relative;
}
img {
  position: absolute;
}
.main-img {
  top: -126px;
}
.img-shadow {
  left: 10px;
  top: -10px;
  transform: scale(1.05);
}
.box-img {
  display: none;
  z-index: 2;
}
.question-box {
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  max-height: 40px;
  overflow: hidden;
  width: 100%;
}
.question-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 12px 0;
}
.answer {
  color: #555;
  overflow: hidden;
  padding: 10px 0;
}
.active {
  height: auto;
  max-height: 150px;
}
.arrow {
  color: rgb(182, 119, 3);
  pointer-events: none;
}
@media (min-width: 1200px) {
  .faq-box {
    display: flex;
    height: 500px;
    position: relative;
    width: 1000px;
  }
  .img-area {
    display: none;
  }
  .img-area-desktop {
    display: block;
    left: -21px;
    overflow: hidden;
    width: 50%;
  }
  .img-area-desktop .main-img {
    left: -77px;
    position: absolute;
    top: 29px;
    transform: scale(1);
    z-index: 1;
  }
  .img-area-desktop .img-shadow {
    left: -525px;
    position: absolute;
    top: -315px;
    transform: scale(0.9);
    z-index: 0;
  }
  .box-img {
    display: block;
    left: -94px;
    position: absolute;
    top: 175px;
  }
  .questions-area {
    padding-right: 5%;
    padding-top: 20px;
    width: 50%;
  }
  .question-box {
    font-size: 16px;
    min-height: 46px;
  }
  .answer {
    padding-bottom: 15px;
  }
  h2 {
    font-size: 2rem;
    padding: 40px 0;
    text-align: left;
  }
  .question-btn {
    min-height: 46px;
  }
}
@media (min-width: 1300px) {
  .faq-box {
    transform: scale(1.1);
  }
}
@media (min-width: 1600px) {
  .faq-box {
    transform: scale(1.2);
  }
}
