@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
a {
  background-color: white;
}
body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}
.container {
  margin: 0 auto;
  width: 650px;
  display: flex;
  border-radius: 20px;
  max-height: 960px;
}
.card1 {
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
}
.card2 {
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
}
.card3 {
  background-color: hsl(179, 100%, 13%);
  padding: 40px;
}
.grid {
  display: grid;
  border-radius: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2em;
  overflow: hidden;
}
h2 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  padding: 22px 10px;
  text-transform: uppercase;
}
p {
  align-items: center;
  font-size: 11px;
}
.text1 h6 {
  color: hsl(31, 77%, 52%);
}
